body {
	background-image:url(fond.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 
}

h1, h2, h3, h4, h5 {
	text-shadow: 2px 2px 4px #999;
	text-align: center;
	margin: auto;
	color: #333;
}

html, body {
	padding: 0px;
	margin: 0px;
}



hgroup {
	margin-left: -165px;
	margin-top: -200px;
	position: absolute;
	width: 335px;
	left: 50%;
	top: 50%;
}

h1, h2, h3, h4, h5 {
	text-shadow: 2px 2px 4px #999;
	text-align: center;
	margin: auto;
	color: #333;
}

h1 {
	font-size: 58px;
}

h2 {
	margin-bottom: 7px;
	font-size: 30px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 15px;
}

iframe {
	margin: 5px;
	float: right;
}

.header {
   
   background-image:url(header.png);
   height:100px;
   top:0;
   left:0;
   right:0;
}

.myButton {
	-moz-box-shadow:inset -2px 0px 15px 0px #ffffff;
	-webkit-box-shadow:inset -2px 0px 15px 0px #ffffff;
	box-shadow:inset -2px 0px 15px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	padding:3px 36px;
	text-decoration:none;
	text-shadow:0px -1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.img-circle {
  border-radius: 50%;
}

