  @font-face { /* récupération de la police */
    font-family: 'police';
    src: url('c.ttf');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans); /* création du boutton */
	.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
	.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
	.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
	.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
	.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
	.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
	.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
	.btn-block { width: 100%; display:block; }

html { width: 100%; height:100%; overflow:hidden; }

body {  /* la partie du body */
	width: 100%;
	height:100%;
	font-family: 'police';
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
p{
	
}

#body /* Le div qui contient le chat */
{
	border-collapse:collapse;
	background-color:1b1b1b;
	margin:auto;
	width:50%;
	border-radius:10px;
	overflow:hidden;
	font-size:medium;
	font-family: 'police';
}

#titre /* div du titre */
{
	text-align:center;
	font-family: 'police'; 
	font-size:medium;
	color:3498db;
}
  
#form /* div du formulaire */
{
	height:100px;
	padding:2%;
	font-family: 'police';
}
 
#chat_aff /* div du tableau des messages affichés */
{
	width:95%;
	height:100%;
	margin:auto;
	overflow-y:scroll;
	font-family: 'police';
}

::-webkit-scrollbar { /* supprimer la scrollbar */
	width: 0px;
	background: transparent;
}
 
#form2 /* div du deuxieme tableau */
{
	width:100%;
	border-collapse:collapse;
	text-align:center;
	font-family: 'police';
}

#message /* div des messages affichés */
{
	border-radius:10px;
	padding:2%;
	width:100%;
	background-color:fff;
	color : 808080;
	font-family: 'police';
}


 
#table_message  /* div de mise en page du tableau */
{
	width:100%;
	font-size:small; 
	font-family: 'police';
	border-collapse:collapse;
	table-layout:fixed;
}
 
.info_message /* écarte les cellules du tableau */
{
	overflow:hidden;
	font-size:x-medium;
	padding:1%;
	font-family: 'police';
}

.message  /* fait en sorte que les élements sont bien positionnés  */
{
	width:80%;
	x-overflow:hidden;
	y-overflow:visible;
	text-align:left;
	padding:1%;
	font-family: 'police';
}

#submit /* boutton envoyer */
{
	width:80%;
	padding:2%;
	border-radius:10px;
	font-family:Comic Sans MS;
	font-size:medium;
	color:e84248;
	background-color:#1b1b1b;
}
.smile{
    width: 35px;
	height: 35px;
}
.zzz{
    width: 35px;
	height: 35px;
}
.serious{
    width: 35px;
	height: 35px;
}
.aille{
    width: 35px;
	height: 35px;
}
.omg{
    width: 35px;
	height: 35px;
}
.na{
    width: 35px;
	height: 35px;
}
.burnt{
    width: 35px;
	height: 35px;
}
.confident{
    width: 35px;
	height: 35px;
}
.huum{
    width: 35px;
	height: 35px;
}
.disapointed{
    width: 35px;
	height: 35px;
}

/* THE CUBE */
.box {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 350ms;
  -webkit-animation: spin 4s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: transform 350ms;
  -moz-animation: spin 4s infinite linear;
  -ms-transform-style: preserve-3d;
  -ms-transition: transform 350ms;
  -ms-animation: spin 4s infinite linear;
  transform-style: preserve-3d;
  transition: transform 350ms;
  animation: spin 4s infinite linear;
}
.box:before, .box:after, .box i, .box i:before, .box i:after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: lighting 2s infinite linear;
  -moz-animation: lighting 2s infinite linear;
  -ms-animation: lighting 2s infinite linear;
  animation: lighting 2s infinite linear;
}
.box:before {
  -webkit-transform: rotateY(90deg) translate3D(-50px,0,50px);
  -moz-transform: rotateY(90deg) translate3D(-50px,0,50px);
  -ms-transform: rotateY(90deg) translate3D(-50px,0,50px);
  transform: rotateY(90deg) translate3D(-50px,0,50px);
  background-color: #FA493F;
  content:'';
}
.box:after {
  -webkit-transform: rotateY(90deg) rotateZ(180deg) translate3D(50px,0,-50px);
  -moz-transform: rotateY(90deg) rotateZ(180deg) translate3D(50px,0,-50px);
  -ms-transform: rotateY(90deg) rotateZ(180deg) translate3D(50px,0,-50px);
  transform: rotateY(90deg) rotateZ(180deg) translate3D(50px,0,-50px);
  background-color: #00a096;
  content:'';
}
.box i {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3D(0,0,100px);
  -webkit-animation-delay: 1s;
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3D(0,0,100px);
  -moz-animation-delay: 1s;
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3D(0,0,100px);
  -ms-animation-delay: 1s;
  transform-style: preserve-3d;
  transform: translate3D(0,0,100px);
  animation-delay: 1s;
  background-color: #f8b334;
}
.box i:before {
  -webkit-transform: rotate(180deg) translate3D(0,0,-100px);
  -webkit-animation-delay: 1s;
  -moz-transform: rotate(180deg) translate3D(0,0,-100px);
  -moz-animation-delay: 1s;
  -ms-transform: rotate(180deg) translate3D(0,0,-100px);
  -ms-animation-delay: 1s;
  transform: rotate(180deg) translate3D(0,0,-100px);
  animation-delay: 1s;
  background-color: #97bf0d;
}
.box i:after {
  -webkit-transform: rotateX(90deg) translate3D(0,-50px,-100px);
  background-color: #999999;
  box-shadow: 0 0 30px rgba(0,0,0,1);
  -webkit-filter: blur(10px);
  opacity: 0.5;
  -webkit-animation: none;
  -moz-transform: rotateX(90deg) translate3D(0,-50px,-100px);
  background-color: #999999;
  box-shadow: 0 0 30px rgba(0,0,0,1);
  -moz-filter: blur(10px);
  opacity: 0.5;
  -moz-animation: none;
  -ms-transform: rotateX(90deg) translate3D(0,-50px,-100px);
  background-color: #999999;
  box-shadow: 0 0 30px rgba(0,0,0,1);
  -ms-filter: blur(10px);
  opacity: 0.5;
  -ms-animation: none;
  transform: rotateX(90deg) translate3D(0,-50px,-100px);
  background-color: #999999;
  box-shadow: 0 0 30px rgba(0,0,0,1);
  filter: blur(10px);
  opacity: 0.5;
  animation: none;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotateY(0deg) translateZ(-50px); }
  100% { -webkit-transform: rotateY(360deg) translateZ(-50px); }
}
@-webkit-keyframes lighting {
  0% { box-shadow: inset 100px 0 150px rgba(0,0,0,0.4), inset 0 0 150px rgba(255,255,0255,0.3); }
  100% { box-shadow: inset 0 0 150px rgba(0,0,0,0.4), inset -100px 0 150px rgba(255,255,0255,0.3); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotateY(0deg) translateZ(-50px); }
  100% { -moz-transform: rotateY(360deg) translateZ(-50px); }
}
@-moz-keyframes lighting {
  0% { box-shadow: inset 100px 0 150px rgba(0,0,0,0.4), inset 0 0 150px rgba(255,255,0255,0.3); }
  100% { box-shadow: inset 0 0 150px rgba(0,0,0,0.4), inset -100px 0 150px rgba(255,255,0255,0.3); }
}
@keyframes spin {
  0% { transform: rotateY(0deg) translateZ(-50px); }
  100% { transform: rotateY(360deg) translateZ(-50px); }
}
@keyframes lighting {
  0% { box-shadow: inset 100px 0 150px rgba(0,0,0,0.4), inset 0 0 150px rgba(255,255,0255,0.3); }
  100% { box-shadow: inset 0 0 150px rgba(0,0,0,0.4), inset -100px 0 150px rgba(255,255,0255,0.3); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotateY(0deg) translateZ(-50px); }
  100% { -ms-transform: rotateY(360deg) translateZ(-50px); }
}
@-ms-keyframes lighting {
  0% { box-shadow: inset 100px 0 150px rgba(0,0,0,0.4), inset 0 0 150px rgba(255,255,0255,0.3); }
  100% { box-shadow: inset 0 0 150px rgba(0,0,0,0.4), inset -100px 0 150px rgba(255,255,0255,0.3); }
}
