body {
    padding-top: 0; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    height: 1000px;
}
.greenCar{
	color: #BC8CF7;
}

.anautomyHeader{
	font-size: 1.5em;
	color: white;
}

#elementID {
	color: #BC8CF7;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
 
}

.navbar-static-top .nav {
    padding: 30px 0;
}


.navbar-static-top .navbar-brand {
    padding: 35px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 0; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-static-top .navbar-brand {
        padding: 40px 0;
    }
}

.header2{
	height: 30px;
}
.mainNav{
	height: 100%;
	bottom: 21px;
}
.navText{
	top:-30px;
}

/*header sign up and login buttons*/

.headerButton a:hover { text-decoration: none; }


.ghost-button-signup {
    color: #ffffff;
    background: #BC8CF7;
    border: 1px solid #865EB7;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;

    /* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.ghost-button-signup:hover {
	color:#ffffff;
	background:#49a841;
	border: 1px solid #49a841;
 }

.ghost-button-login {
    color: #ffffff;
    background: #5A5A5A;
    border: 1px solid #9B9B9B;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    min-width: 120px;

    /* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.ghost-button-login:hover{
	color:#ffffff;
    background:#7a7a7a;
 }

 .ghost-button-help {
    color: #ffffff;
    background: #5A5A5A;
    border: 1px solid #5A5A5A;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    min-width: 80px;

    /* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.ghost-button-help:hover{
	color:#ffffff;
    background:#5A5A5A;
 }
 
.navbar-default {
  background-color: #2F332E;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ffffff;
  }
}

.navbar-inverse {
  background-color: #252233;
  border-color: #252233;
   z-index:10;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #52bb49;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #52bb49;
}
.navbar-inverse .navbar-toggle {
  border-color: #52bb49;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #52bb49;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #52bb49;
  }
}

.header2 .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.header2 .navbar {
    text-align: center;
    
}

.header2 .nav li a {
    text-align: center;
    
}

.header2 .navbar {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.header2 .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.header2 .navbar {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.header2 .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}